/* Portfolio */

.portfolio .portfolio-item {
	position: relative;
	display: none;
	border-radius: 0.5rem;
	overflow: hidden;

	&:not(.text-start) {
		cursor: pointer;
	}
}

.portfolio .portfolio-item .portfolio-item-caption:hover {
	opacity: 1;
}

.portfolio .portfolio-item .portfolio-item-caption .portfolio-item-caption-content {
	font-size: 1.5rem;
}

/* Part One */

.student_id {
	font-weight: bold;
	padding: 1rem 0;
}

.red {
	color: #c1272d;
}

.question {
	padding-bottom: 0;
}

.question.q1>*>li {
	list-style: none;

	&:before {
		counter-increment: list;
		content: counter(list, decimal) ". ";
		font-weight: bold;
	}
}

.question.q2>*>li,
.question.q4>*>li,
.question.q5>*>li {
	list-style: none;

	&:before {
		counter-increment: list;
		content: counter(list, lower-alpha) ") ";
		font-weight: bold;
	}
}

.question.q3>li {
	padding-left: 1.5rem;
	list-style: none;
}

li>em {
	font-size: 0.9rem;
}

ol {
	counter-reset: list;
}

.working {
	padding-bottom: 1rem;
	font-family: 'Fira Code', 'Consolas', 'Courier New', Courier, monospace;
	font-size: 1.2rem;
	white-space: pre-wrap;


	li {
		list-style: none;
	}

	li:first-child,
	li:last-child {
		font-weight: 700;
	}

	li:last-child {
		color: #c1272d;
	}
}

sup {
	top: -1.3em;
	width: 0;
	display: inline-block;
	font-size: 0.75rem;
	color: #c1272d;
}

.long__sum {
	text-decoration: underline;
}

.hex>td {
	border-right-width: 0.2rem;

	&:first-child {
		border-left-width: 0.2rem;
	}
}

.hex_single>td {
	border-right-width: 0.2rem;

	&:nth-child(2) {
		border-left-width: 0.2rem;
	}
}

.hex_alt>td {
	border-right-width: 0.2rem;
	border-left-width: 0.2rem;

	&:first-child {
		border-left-width: 0.1rem;
	}
}

.binary>td:nth-child(5) {
	border-right-width: 0.2rem;

	&:first-child {
		border-left-width: 0.2rem;
	}
}

.binary_title {
	font-weight: 700;
}

.binary_title>td:nth-child(5) {
	border-right-width: 0.2rem;

	&:first-child {
		border-left-width: 0.2rem;
	}
}

.sub:nth-child(2) {
	vertical-align: sub;
	font-size: medium;
}

/* Part Two */

.code {
	font-family: 'Fira Code', 'Calibri', Arial, Helvetica, sans-serif;
	font-size: 1rem;
	color: #fff;
	background-color: black;
	border-radius: 4px;
	padding: 0.2rem;
	margin-bottom: 1rem;
}

.snippet {
	font-family: 'Fira Code', 'Calibri', Arial, Helvetica, sans-serif;
	font-size: 1rem;
	padding: 0 0.25rem;
	margin: 0 0.05rem;
	color: #000;
	background-color: rgb(199, 199, 199);
}

.filename {
	font-family: 'Fira Code', 'Calibri', Arial, Helvetica, sans-serif;
	font-size: 1.05rem;
	font-style: italic;
	font-weight: 500;
}

.next:after {
	content: '\1F83B';
	font-size: 5rem;
	padding: 0;
	margin: 0;
}

.blue__text {
	color: rgb(74, 74, 255);
}

.img-linux {
	width: 100%;
	margin: 0.5rem;
}

.border {
	border: var(--bs-border-width) var(--bs-border-style) rgba(0, 0, 0, 0.25) !important;
}

li ol>li {
	list-style: none;

	&:before {
		counter-increment: list;
		content: counter(list, lower-roman) ". ";
		font-weight: bold;
	}
}

// li>div {}

.question.p1>li {
	list-style: none;

	&:before {
		counter-increment: list;
		content: counter(list, decimal) ". ";
		font-weight: bold;
	}
}

.question.p2>li {
	list-style: none;

	&:before {
		counter-increment: list;
		content: counter(list, lower-alpha) ") ";
		font-weight: bold;
	}
}

/* Part Three */

.img-yolo {
	width: 100%;
	margin: 0.5rem;
}

.table-yolo {
	margin: auto;
	border: 3px solid black;
	width: 50vw;
}

td,
th {
	border: 1px solid black;
	vertical-align: top;
}

.table-yolo>tbody>tr>td {
	padding: 0.25rem;
	font-size: 1.1rem;
	font-weight: 600;
	width: 50%;
}

th {
	padding-left: 0.25rem;
}

.table-yolo>tbody>tr:nth-child(even) {
	background-color: #deeaf6;
}

.table-yolo>tbody>tr:nth-child(odd) {
	background-color: #fff;
}

.table-eval {
	text-align: center;
}

.table-eval>thead {
	background-color: #000;
	color: #fff;
	text-decoration: none;
	padding: 0.25rem 1rem;

}

.table-eval>thead>tr>th {
	padding: 0.25rem 1rem;
	font-size: 1.25rem;
	font-weight: 600;
	vertical-align: middle;
}

.table-eval>tbody>tr:nth-child(even) {
	background-color: #fff;
}

.table-eval>tbody>tr:nth-child(odd) {
	background-color: #cccccc;
}

.table-eval>tbody>tr>td {
	padding: 0.25rem 1rem;
	font-size: 1.1rem;
	font-weight: 600;
}

/* Downloads */
.downloads {
	list-style: none;
}

.downloads>li>a {
	font-size: 1.2rem;
	text-decoration: underline;
	color: #c1272d;

	&:hover,
	&:active,
	&:focus {
		color: #c0c0c0;
	}
}


/* Licenses */
.license {
	font-family: 'Consolas', 'Courier New', Courier, monospace !important;
	font-size: 1rem;
}