# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
!.vscode/extensions.json
.bundle
.DS_Store
.idea
.jekyll-cache
.jekyll-metadata
.sass-cache
.vscode/*
*.code_workspace
*.njsproj
*.ntvs*
*.sln
*.suo
*.sw?