/* Headings */

h1 {
	font-weight: 700;
	font-size: 3rem;
}

h2 {
	text-transform: uppercase;
	padding-bottom: 1rem;
}

h3 {
	text-decoration: underline;
}

h2>hr {
	border: 2px solid black;
	opacity: 1;
}