/* Assignment 1 stylesheet */

/* Body */

body {
	font-family: 'Calibri', Arial, Helvetica, sans-serif;
	background-color: #f3f3f3;
}

div {
	font-size: 1.3rem;
}

/* Images */

// img {
// 	width: 75vw;
// }