/* Nav */
.nav {
	display: flex;
	flex-wrap: wrap;
	padding-left: 0;
	margin-bottom: 0;
	list-style: none;
}

.nav-link {
	display: block;
	padding: 0.5rem 1rem;
	color: #c1272d;
	text-decoration: none;
	font-weight: 900;
	font-size: 1.8rem;

	&:hover,
	&:focus {
		color: #cacaca;
	}
}

a.nav-link.active,
.navbar-nav .show>.nav-link,
.navbar-nav .nav-link.active {
	color: #c1272d;
}

.navbar-nav .nav-link {
	padding-right: 0;
	padding-left: 0;
}

.navbar-nav {
	display: flex;
	flex-direction: column;
	padding-left: 0;
	margin-bottom: 0;
	list-style: none;
}

a,
a:active,
a:focus {
	color: #000;
	text-decoration: none;

	&:hover {
		color: #c0c0c0;
	}
}

.bg-header {
	color: #000;
	background-color: var(--bs-secondary);
}

.bg-nav {
	background-color: var(--bs-black);
}