<!-- Slider Start -->
<section id="global-header" class="notfound-header">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="block">
          <h1 class="animate__animated animate__fadeIn">404</h1>
          <p class="animate__animated animate__fadeIn"><strong>Page not found</strong></p>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Wrapper Start -->
<section id="intro">
  <div class="container">
    <div class="row">
      <div class="col-md-7 col-sm-12 offset-md-3">
        <div class="block">
          <div class="section-404-title">
            <p>The requested page could not be found.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>